* {
 
padding: 0;
 
margin: 0;
 
border: none;
 
}
/*body {
font-family: 'Open Sans', sans-serif;
margin: 0 auto;
width:960px;
}
h1, h2, h3 {
/*color:brown;
}
ul {
list-style-image: url("images/tiny-coffee-cup.gif");
}
a:link, a:visited {
text-decoration:none;
color:brown;
font-weight:bold;
	overflow: hidden;
}
a:hover {
color:black;
}
nav ul {
list-style-type:none;
	overflow: hidden;
padding:0;
}
nav li {
overflow: hidden;
float:left;
}
nav a:link, nav a:visited {
	float: left;
background-color:brown;
color:white;
display:block;
min-width:160px;
text-align:center;
padding: 10px 0;
}
nav a:hover {
background-color:black;
}
aside {
width:30%;
float:right;
background-color: tan;
text-align:center;
font-weight:bold;
padding:20px 2%;
margin-left:20px;
}
.photo-left {
float:left;
margin-right:20px;
}
.photo-right {
float:right;
margin-left:20px;
}
header {
/*background-image:url(../banner.jpg);
height:100px;
margin-bottom:70px;
}
header h1 {
color:rgba(256,256,256,.8);
margin-left:30px;
margin-top:30px;
font-size:50px;
}
footer {
margin: 40px 0;
}
footer nav a:link, footer nav a:visited {
color:gray;
text-decoration:none;
display:block;
width: 160px;
text-align:center;
background-color:white;
}
footer nav a:hover {
color:black;
}
td, th {
border:1px solid black;
width:20%;
text-align:center;
padding:5px;
}
table {
border-collapse:collapse;
}
video {
margin-bottom: 20px;
margin-left: 160px;
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
}
*/
.home {
	background: url("../media/home---Copy.png");
	width: 1920;
	height: 500px;
	
    
}
	

.home-content{
	font-size: 60px;
	text-align: center;
	color: white;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	padding-top: 180px;
	margin-bottom: 20px;	
}
.social{
	color: white;
	font-size: 20px;
	
}
.mxh{
	margin: 10px;
}
.body1{
	margin: 0 auto;	
	
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
	margin-top: 100px;
	width: 1920px;
	data-aos="fade-right"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine"
}
.row{
	margin: 0 auto;

}
.row img{
/*	margin-top: 100px;*/
	margin-left: 500px;
	width: 300px;
	height: 100%;
	float: left;
}
.row p{
	margin-left: 200px;
/*	margin-top: 100px;*/
	width: 300px;
	float: left;
	text-align: justify;
}









.bounce{
	color: white;
	
}
:root {
  animate-delay: 0.5s;
}

.row1{
	float: left;
}
.clear{
	clear: both;
}
.container what-can{
	float: none;
}




